---
import { getCollection } from "astro:content";
import PostCard from "../../components/PostCard.astro";
import Layout from "../../layouts/Layout.astro";

const allPosts = await getCollection("posts");
const sortedPosts = allPosts.sort(
	(a, b) => b.data.publishDate.getTime() - a.data.publishDate.getTime(),
);

const pageTitle =
	"Full Posts Archive | Systems, Strategy, and More | Andy Carlberg";
const pageDescription =
	"Explore the complete archive of articles by Andy Carlberg, covering digital strategy, technical systems, organizational efficiency, personal finance, homelab infrastructure, and communication.";
---

<Layout title={pageTitle} description={pageDescription}>
  <main class="container mx-auto p-8 py-16">
    
    <h1 class="mb-10">All Posts</h1>
    
    <div class="grid grid-cols-1 gap-10"> 
      {sortedPosts.map((post) => (
        <PostCard 
          title={post.data.title}
          slug={post.slug}
          description={post.data.description}
          publishDate={post.data.publishDate}
        />
      ))}
    </div>

  </main>
</Layout>
